@model Car 

<h2>@Model.Name</h2>

<div class="row">
    
        @* <input type="hidden" asp-for="@Model.Id" /> *@
        <div class="col-md-4 mb-4">
            <div class="card shadow">

            <img src="@Model.ImageUrl"
                 class="card-img-top"
                 height="200" alt="car"/>

                <div class="card-body">
                    <h5>@Model.Name</h5>

                    <p>
                        <strong>Brand:</strong> @Model.Brand <br />
                        <strong>Year:</strong> @Model.Year
                    </p>

                    <h4 class="text-success">
                        ₦@Model.Price
                    </h4>

                    <a asp-controller="Car"
                       asp-action="Details"
                       asp-route-id="@Model.Id"> 
                        @* View Details *@
                    </a>
                </div>

            </div>
        </div>
    
</div>